body {

    color: $primary-text-color;
    background-color: $primary-white-color;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.02em;
    font-size: 14px;

    margin: 0;
}

body.modal-open {
    overflow: hidden;
}