.logo-header, .logo-footer {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-decoration: none;
    letter-spacing: 0.03em;
  }
  
  .logo-header:focus, .logo-footer:focus {
    color: currentColor;
  }

  .logo-accent {
    color: $accent-color;
}

.logo-header {
    @extend %logo;
    color: $title-text-color;
}
.logo-footer {
    @extend %logo;
    display: block;
    color: $primary-white-color;
    font-size: 22px;
    margin-bottom: 10px;

    transition-property: color $animation-timing-function;

}
    